USE [master]
GO
/****** Object:  Database [LOJINHA]    Script Date: 24/03/2025 20:21:13 ******/
CREATE DATABASE [LOJINHA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOJINHA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJINHA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOJINHA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJINHA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOJINHA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOJINHA]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 24/03/2025 20:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEFONE] [varchar](80) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 24/03/2025 20:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[PRECO] [decimal](10, 2) NULL,
	[ESTOQUE] [int] NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 24/03/2025 20:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NULL,
	[QUANTIDADE] [int] NULL,
	[FATURADO] [bit] NULL,
	[CODIGOCLIENTE] [int] NULL,
	[CODIGOPRODUTO] [int] NULL,
 CONSTRAINT [PK_VENDAS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_CLIENTE] FOREIGN KEY([CODIGOCLIENTE])
REFERENCES [dbo].[CLIENTES] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_CLIENTE]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_PRODUTO] FOREIGN KEY([CODIGOPRODUTO])
REFERENCES [dbo].[PRODUTOS] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_PRODUTO]
GO
USE [master]
GO
